.container {
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: vh; */
}

.card {
    width: 1000px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 20px;
    margin: 50px auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.card .card-header {
    text-align: center;
    margin-bottom: 20px;
}

.card .card-header img {
    width: 200%;
    height: auto;

}

.card .card-body {
    line-height: 1.6;
}

.card .card-body p {
    margin: 0 0 10px;
}

.card .card-body p:last-child {
    margin-bottom: 0;
}
#backButton {
    display: block;
    width: 100px;
    padding: 10px 15px;
    margin: 20px auto;
    border: none;
    border-radius: 5px;
    background-color: #007BFF;
    color: #fff;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#backButton:hover {
    background-color: #0056b3;
}