body {
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    background-color: #29bdc1;
}
h1 {
    text-align: center;
    padding: 20px 0;
}
.main{
    width: 80%;
    margin: 0 auto;
}
.header{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #fff;
    box-shadow:  0px 0px 10px 0px rgba(0,0,0,0.1);
}
.logo{
    display: flex;
    align-items: center;
}
.logo img{
    width: 70px;
    height: 70px;
    margin-right: 10px;
    border-radius: 50%;
}
.search {
    display: flex;
    align-items: center;
    margin: auto;
    
}
.search input {
    padding: 10px;
    border: none;
    border-radius: 10px;
    margin-right: 10px;
    width: 200px;
}

.search button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #007BFF;
    color: #fff;
    cursor: pointer;
}
