body {
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    background-color: #29bdc1;
}
h1 {
    text-align: center;
    padding: 20px 0;
    margin-bottom: 0;
}
h2 {
    text-align: center;
}
.main{
    margin: 0 auto;
}
.container1 img {
    width: 100%;
    height: 100%;
    border-radius: 50px;
}
.logo{
    display: flex;
    align-items: center;
}
.logo img{
    width: 150px;
    height: 150px;
    margin-right: 0px;
    border-radius: 70%;
    padding: 40px 0 10px 0px;
}
.search {
    display: flex;
    align-items: center;
    margin: auto;
    justify-content: center;
    
    
}
.search input {
    padding: 10px;
    border: none;
    border-radius: 10px;
    margin-right: 10px;
    width: 200px;

}

.search button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #007BFF;
    color: #fff;
    cursor: pointer;
}
.list-filter{
    text-align: justify;
    padding: 20px 20px;
}
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 2px;
    padding: 2px;
    text-align: center;
}
.container img {
    margin: 20px 100px;
    padding: auto;
    width: 200px;
    background-color:  black;
    border-radius: 100px;
}
.container img:hover {
    transform: scale(1.1);
}